<!-- @custom_fields_edit -->
<script type="text/javascript">
    var ftype = $('#field_type'),
        ftypeOption = $('option[selected]', ftype),
        ftypeSel = ftypeOption.val(),
        propAddon = $('#prop_addon');

    if (ftypeSel == 'select' || ftypeSel == 'checkbox') {
        propAddon.css('display', 'block');
    } else {
        propAddon.css('display', 'none');
    }

    function selectChange() {
        var ftypeVal = ftype.val(),
            ftypeSel = ftypeOption.val();

        if (ftypeVal == 'select' || ftypeVal == 'checkbox' || ftypeSel == 'select' || ftypeSel == 'checkbox') {
            propAddon.css('display', 'block');
        } else {
            propAddon.css('display', 'none');
        }
    }
	
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#news_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
<div id="content_container">
<div class="content">
%form_title%
<form action="%action%" method="post" enctype="multipart/form-data" onsubmit="form_submit_include_content_auto();">
<input type="hidden" name="id" value="%id%" />
<fieldset>
	<label for="newsi_field_title">[#custom_fields_field_title#]:</label>
	<input id="field_title" name="newsi_field_title" type="text" value="%field_title%" />
</fieldset>
<fieldset>
	<label for="newsi_field_name">[#custom_fields_field_name#]:</label>
	<input id="field_name" name="newsi_field_name" type="text" value="%field_name%" />
</fieldset>
<fieldset>
	<label for="newsi_field_type">[#custom_fields_field_type#]:</label>
	<select id="field_type" name="newsi_field_type" onchange="selectChange()">
		<option value="string" %string_selected%>[#custom_fields_field_type_string#]</option>
		<option value="pagesite" %pagesite_selected%>[#custom_fields_field_type_pagesite#]</option>
		<option value="textarea" %textarea_selected%>[#custom_fields_field_type_textarea#]</option>
		<option value="select" %select_selected%>[#custom_fields_field_type_select#]</option>
		<option value="checkbox" %checkbox_selected%>[#custom_fields_field_type_checkbox#]</option>
		<option value="date" %date_selected%>[#custom_fields_field_type_date#]</option>
		<option value="fileselect" %fileselect_selected%>[#custom_fields_field_type_fileselect#]</option>
		<option value="imageselect" %imageselect_selected%>[#custom_fields_field_type_imageselect#]</option>
	</select>
</fieldset>
<fieldset id="prop_addon" style="display:none;margin:10px 0;">
	<label for="newsi_field_params">[#custom_fields_field_type_label#]:</label>
	<textarea id="field_params" name="newsi_field_params" style="width:270px; height:75px;">%field_params%</textarea>
</fieldset>
<fieldset class="page_submit_field">
	<input type="submit" value="[#news_save#]" />
</fieldset>
</form>
</div>
</div>
</div>
<!-- @custom_field_type_option -->
	<option value="%field_value%"%selected%>[#custom_fields_field_type_%field_type%#]</option>
<!-- @custom_fields_title_new -->
<h3>[#custom_fields_field_new#]</h3>
<!-- @custom_fields_title_edit -->
<h3>[#custom_fields_field_edit#]</h3>
<!-- @custom_fields_list -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#news_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
<div id="content_container">
<div class="content">
<h3>[#news_menu_custom_fields#]</h3>
<form action="%action%" method="post" >
<table class="admin_table" cellpadding="0" cellspacing="1">
	<tr>
		<th width="20">&#10003;</th>
		<th>[#custom_fields_field_title#]</th>
		<th>[#custom_fields_field_name#]</th>
		<th>[#custom_fields_field_type#]</th>
		<th width="35">[#custom_fields_field_order#]</th>
		<th colspan="2">...</th>
	</tr>
	%rows%
</table>
<fieldset class="page_submit_field">
	<input type="submit" style="float:left;" name="fields_delete" value="[#custom_fields_order_delete#]" />
	<input type="submit" name="save_order" value="[#custom_fields_order_save#]" />
	<button style="float:right;" onclick="jspub_click('custom_fields_edit&id=0');return false;">[#custom_fields_order_add#]</button>
</fieldset>
</form>
</div>
</div>
</div>
<!-- @custom_fields_row -->
	<tr>
		<td><input type="checkbox" name="field_id[%id%]"></td>
		<td>%field_title%</td>
		<td>%field_name%</td>
		<td>[#custom_fields_field_type_%field_type%#]</td>
		<td width="35"><input type="text" name="field_order[%id%]" value="%field_order%" style="width:30px; margin: 0 auto; text-align: center;"></td>
		<td>
			<a href="#" onclick="jspub_confirm('custom_fields_delete&id=%id%','[#news_custom_field_delete_confirm#]');return false;"><img src="/admin/templates/default/images/icon_delet.gif" alt="delete"/></a>
		</td>
		<td>
			<a href="#" onclick="jspub_click('custom_fields_edit&id=%id%');return false;"><img src="/admin/templates/default/images/icon_edit.gif" /></a>
		</td>
	</tr>