<!-- @header -->
<script type="text/javascript">
    $("button").button();
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#news_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>[#news_tags_header_title#]</h3>
            %table%
            <fieldset class="page_submit_field">
                <button onclick="jspub_click('tag_form')">[#news_add_tag_label#]</button>
            </fieldset>
        </div>
    </div>
</div>
<!-- @table_header -->
            <table class="admin_table">
                <tr>
                    <th>[#news_tag_id#]</th>
                    <th>[#news_tag_name#]</th>
                    <th>[#news_tag_description#]</th>
                    <th>[#news_tag_use_count#]</th>
                    <th></th>
                </tr>
<!-- @table_body-->
                <tr>
                    <td>%tag_id%</td>
                    <td><a href="#" onclick="jspub_click('tag_form&id=%tag_id%')">%tag_name%</a></td>
                    <td>%tag_description%</td>
                    <td>%tag_use_count%</td>
                    <td>
                        <a href="#" onclick="jspub_click('tag_form&id=%tag_id%')"><img src="/admin/templates/default/images/icon_edit.gif" alt="[#news_list_tag_action_edit#]" /></a>
                        <a href="#" onclick="jspub_confirm('tag_delete&id=%tag_id%','[#news_tag_del_alert#]')"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#news_list_tag_action_del#]" /></a>
                    </td>
                </tr>
<!-- @table_footer -->
            </table>
<!-- @no_data -->
            <center>[#news_tags_table_empty#]</center>
<!-- @form -->
<script type="text/javascript">
    $("button").button();
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#news_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>%form_header%</h3>
            <form action="%form_action%" method="POST" enctype="multipart/form-data" id="save_tag">
                <input type="hidden" name="tag_id" value="%tag_id%">
                <fieldset>
                    <label for="newsi_tag_name">
                        [#news_tag_name#]:<br/>
                    </label>
                    <input type="text" name="tag_name" id="newsi_tag_name" value="%tag_name%">
                </fieldset>
                <fieldset>
                    <label for="newsi_tag_description">
                        [#news_tag_description#]:
                    </label>
                </fieldset>
                <fieldset>
                    <div style="display:block; width:635px; clear:both;">
                        %tag_description%
                    </div>
                </fieldset>
                <fieldset class="page_submit_field">
                    <input type="submit" name="submit" value="[#news_tag_edit_save_label#]"">
                </fieldset>
            </form>
        </div>
    </div>
</div>