<!--
Шаблон карты сайта

Содержит секции:

@begin 	-	Выводится один раз, перед самым началом построения карты сайта.
@link 	- 	Выводится для элемента карты (страницы сайта), на которую может перейти пользователь.
@activelink - Выводится для элемента карты (страницы сайта), на которую сейчас находится пользователь.
@passiveactive 	-	Выводится для элемента карты, который находится в текущей дороге пользователя, и выше по уровню от текущей страницы.
@delimiter 	-	Выводится между любыми элементами карты.
@end 	-	Выводится один раз, в самом конце построения карты.
@@nextlevel - указывается после любого из основных и дополнительных блоков и определяет их (эти блоки) для страниц следующего уровня.

Содержит переменные:
%link% - сформированный URI
%text% - анкор ссылки
%title% - заголовок страницы при его наличии

-->

<!-- ****************************************** Карта сайта ****************************************** -->

<!-- @begin -->
<div id="sitemap">
<ul>
	<!-- @@nextlevel -->
	<li><ul>

<!-- @link -->
<li><a href="%link%" title="%title%">%text%</a><li>

<!-- @activelink -->
<li><strong>%text%</strong><li>

<!-- @end -->
</ul>
</div>
	<!-- @@nextlevel -->
	</ul></li>
