<!--
Шаблон стикера корзины товаров

Содержит переменные:
%count%  - сумма товаров в сравнении
%ending% - товар с правильным окончанием
 -->


<!-- ****************************************** Шаблон стикера сравнения товаров ****************************************** -->
<!-- @compare -->
    <a class = "black" href="%compare_link%">
        <fieldset>
            <legend></legend>Сравнить</legend>
            %count% %ending%
        </fieldset>
        </span>

        </a>
<br>
<!-- @compare_null -->
    <fieldset>
        <legend>Сравнение:</legend>
        нет товаров для сравнения
    </fieldset>
    </span>

<br>