<!-- @container_begin -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#faq_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
 <div id="content_container">
 <div class="content">

<!-- @container_end -->
 </div>
 </div>
</div>